<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/categorias" class="nav-item nav-link">Categorias</a>
                <a href="/" class="nav-item nav-link">Postagens</a>
                {{#if user}}
                    <a href="/usuario/logout" class="nav-item nav-link">Sair</a>
                {{else}}
                    <a href="/usuario/login" class="nav-item nav-link">Login</a>
                    <a href="/usuario/registro" class="nav-item nav-link">Registrar</a>
                {{/if}}
            </div>
            <form class="form-inline ml-auto">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
        </div>
    </nav>